/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightblue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

#body {
  min-height: 500px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightcoral;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.m-bicycledetail__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.m-bicycledetail__data + .m-bicycledetail__data {
  margin-top: 0.5em;
}

.m-bicycledetail__data-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.m-bicycledetail__clientlist {
  margin: 0;
  padding: 20px;
  border: solid blue 1px;
  border-radius: 5px;
  background-color: lightblue;
}
.m-bicycledetail__clientlist li {
  list-style: none;
}
.m-bicycledetail__clientlist li::before {
  content: "-  ";
  font-weight: bold;
  color: blue;
}
.m-bicycledetail__clientlist li + li {
  margin-top: 0.5em;
}
